<h1>ToDo manager</h1>

<nav>
  <a *ngIf="loggedIn" routerLink="/todos" routerLinkActive="active">ToDo List</a>
  <a *ngIf="loggedIn" routerLink="/create" routerLinkActive="active">Create</a>
  <a *ngIf="!loggedIn" routerLink="/login" routerLinkActive="active">Login</a>
  <button *ngIf="loggedIn" (click)="logout()">Logout</button>
</nav>

<router-outlet></router-outlet>