<h3>My duties</h3>
<table class="table" style="width: 70%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Top priority?</th>
      <th>Completed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let todo of todos">
      <tr *ngIf="todo">
        <td>{{todo.name}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.priority ? 'Yes' : 'No' }}</td>
        <td>{{todo.completed ? 'Yes' : 'No' }}</td>
        <td>
          <button (click)="edit(todo.id)">Edit</button>
          <button (click)="delete(todo)">Delete</button>
          <button (click)="complete(todo)" *ngIf="todo.completed == 0">Set as completed</button>
        </td>
      </tr>
  </tbody>
</table>
